<h1><%= @doctor.name %></h1>
<p>Specialty: <%= @doctor.specialty %></p>
<p>Education: <%= @doctor.university %></p>
<p>Currently Working: <%= @doctor.hospital.name %></p>

<div id="patients">
  <h2>Patient(s): </h2>
  <% @doctor.patients.each do |patient| %>
    <div id="doctor_patient_<%= patient.id %>">
      <li><%= patient.name %></li>
        <%= button_to "Delete #{patient.name}", doctor_patient_path(@doctor, patient), method: :delete %>
     </div> 
     <br>
  <% end %>
</div>